# SETTING ------------------------------------------
[settings]
npm.package_manager = "pnpm"
pipx   = { uvx = true }
python = { compile = false }
experimental = true

# TOOL ---------------------------------------------
[tools]
# LANGUAGE AND PACKAGE MANGER ----------------------
node   = "latest"
pnpm   = "latest"
python = "latest"
uv     = "latest" # or `pixi`; https://prefix.dev/

# DEVELOPER TOOLS ----------------------------------
# Agent toolings
"github:bit-vcs/bit" = "latest"
"github:trycua/cua" = "cua-driver-rs-v0.12.5"
"npm:@waishnav/devspace" = { version = "latest", allow_builds = ["better-sqlite3"] }
hunk = "latest" # Workaround until llm-agents.nix builds Hunk with Bun >= 1.3.14
"pipx:twitter-cli" = "latest"

# Shell
"github:ushironoko/abbrs" = "latest"

# Other
"pinact" = "latest"
"github:mizchi/actrun" = "latest"
# "github:mizchi/similarity" = "latest"
# "npm:@aikidosec/safe-chain" = "latest"
# "gcloud" = "latest"
